body, 
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,p {
  margin: 0;
}

.header {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
}

.header > h1 {
  margin-right: auto;
  color: #ffffff;
}

.header > a {
  color: #ffffff;
  text-decoration: none;
}
