body, 
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,p {
  margin: 0;
}

.header {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
}

.header > h1 {
  margin-right: auto;
  color: #ffffff;
}

.header > a {
  color: #ffffff;
  text-decoration: none;
}

.app {
  padding: 16px;
}

.questions {
  padding-block: 16px;
  line-height: 24px;
}

.question,
.answer {
  padding: 16px;
  line-height: 24px;
}

.title {
  padding-bottom: 8px;
}

.question-form > input,
button {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.question-form {
  padding-bottom: 8px;
}

